/*-- scss:defaults --*/

// Design Colors
$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9e9e8 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;

$yellow: #CC9600           !default;
$blue:   #001429           !default;
$indigo: rgb(93, 5, 236)   !default;
$red:    rgb(181, 37, 50)  !default;
$green:  rgb(17, 108, 38)  !default;
$cyan:   rgb(17, 120, 136) !default;
$teal:   rgb(22, 144, 109) !default;
$purple: rgb(73, 32, 149)  !default;
$pink:   rgb(166, 25, 90)  !default;

$primary:       $yellow   !default;
$secondary:     $blue     !default;
$success:       $green    !default;
$info:          $cyan     !default;
$warning:       $yellow   !default;
$danger:        $red      !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

// Body
$body-color: $white !default;
$body-bg: $black !default;

// Topography
$font-family-sans-serif: "Lato", Arial, sans-serif !default;
$font-family-monospace: "Consolas", monospace !default;

$headings-font-family: "Lora", sans-serif !default;
$headings-color: $white !default;

// Navbar & Footer
$navbar-bg-color: rgba(0, 0, 0, 0.3); // White with 10% opacity
$footer-bg-color: rgba(0, 0, 0, 0.3); // Black with 10% opacity
$blur-amount: 10px; // Adjust the blur amount as needed

/*-- scss:rules --*/
// Import custom fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;700&display=swap');

body {
  background: url('resources/images/seneca_rocks_bw.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: $navbar-bg-color;
  backdrop-filter: blur($blur-amount); // Add blur effect
  border: none;
  box-shadow: none;
  z-index: 1000; // Ensure the navbar stays on top

  // Adjusting padding and margin
  padding: 1rem;
  margin: 0;

  // Adding transparency to child elements if needed
  .navbar-brand,
  .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9); // Adjust text color as needed
  }
}

// Footer styles
.nav-footer {
  background-color: $footer-bg-color;
  backdrop-filter: blur($blur-amount); // Add blur effect
  border: none;
  box-shadow: none;
  z-index: 1000; // Ensure the footer stays on top

  // Adjusting padding and margin
  padding: 1rem;
  margin: 0;

  // Adding transparency to child elements if needed
  .footer-text,
  .footer-link {
    color: rgba(255, 255, 255, 0.9); // Adjust text color as needed
  }
}
